* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: contain;
}

img.frontphoto {
  max-width: 500px;
  max-height: 700px;
}

img.bordinn {
  max-width: 100%;
  max-height: 100%;
}

img.bordin2 {
  max-width: 100%;
  max-height: 100%;
}

img.migphoto {
  max-width: 500px;
  max-height: 700px;
}

img.clickable-img {
  max-width: 100%;
  max-height: 100%;
}

img.cv {
  max-width: 100%;
  max-height: 100%;
}

.tema-tekst {
  margin: 70px;
}

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
