@media (min-width: 800px) {
  ul {
    display: flex;
    width: 80px;
    padding: 50px;

    cursor: pointer;
    list-style-type: none;
    gap: 150px;
    object-fit: contain;
  }
}

a {
  font-family: filosofia, serif;
  font-style: normal;
  font-weight: 700;
  color: #cd515b;
  text-decoration: none;
}

.logo {
  font-size: 35px;

  padding: 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #faf5ec;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #f2d9d0;
}

.dropdown-content a {
  color: #cd515b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

body {
  background-color: #faf5ec;
}

header {
  background-color: #f2d9d0;
}

.portlink {
  text-decoration: none;
  color: #fcfbfa;
  font-size: 20px;
  font-family: filosofia, serif;
  font-style: normal;
  font-weight: 700;
}

.portbtn {
  display: flex;
  align-items: center;
  background-color: #cd515b;

  padding: 10px 20px;
  border: 2px solid #fcfbfa;
  border-radius: 8px;
  width: fit-content;
  text-decoration: none;
  position: absolute;
}

.portbtn a:hover {
  text-decoration: underline;
}

.fronttekst,
h4 {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  color: black;
  line-height: 1.4;
}

h1 {
  font-family: filosofia, serif;
  font-style: normal;
  font-weight: 700;
  color: #cd515b;
  font-size: 45px;
}

h2 {
  font-family: filosofia, serif;
  font-style: normal;
  font-weight: 700;
  color: #cd515b;
  font-size: 45px;
  text-align: center;
}

.omtekst,
p {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  color: black;
  line-height: 1.6;
}

.omtekst {
  margin: 60px;
}

.fronttekst {
  margin: 60px;
}
